<div class="h-100 container py-5">
  <div class="ps-lg-4 d-flex gap-3 align-items-center">
    <button
      [routerLink]="[login]"
      type="button"
      class="btn bg-info-o rounded-8"
    >
      <img
        src="assets/images/icons/dark_arrow.png"
        width="20"
        class="rtl-flip"
        alt="back"
      />
    </button>
    <div class="text-info">
      {{ "global.back" | translate }}

    </div>
  </div>
  <div class="d-flex w-100 h-100 align-items-center">
    <div class="ps-lg-4 w-100">
      <h2 class="fw-600">
        {{ "global.forget_password" | translate }}

      </h2>
      <p class="fw-500 text-info">
        {{ "global.enter_email_msg" | translate }}

      </p>
      <form class="mt-4 py-2" [formGroup]="form">
        <div class="form-floating mb-3">
          <input
            type="email"
            class="form-control"
            id="email"
            placeholder="email"
            formControlName="email"
          />
          <label for="email">
            {{ "global.email" | translate }}

          </label>
        </div>

        <button
          type="submit"
          class="btn mt-4 btn-primary py-2 d-flex align-items-center gap-4 rounded-8"
          (click)="sendEmail()"
        >
          <span>
                 {{ "global.send" | translate }}
          </span>
          <img
            src="assets/images/icons/arrow.png"
            class="img-fluid d-block rtl-flip"
            alt="arrow"
          />
        </button>
      </form>
    </div>
  </div>
</div>
<!---------------------------------------------------------------->

<!-- <app-modal classList="modal-dialog-centered" [id]="modalID">
  <img src="assets/images/svgs/delete.svg" alt="" srcset="" /> -->
  <!-- <h4 class="fw-700" translate="lookups.are_you_sure_about_deleting_area"></h4> -->
  <!-- <p  *ngIf="lang.isAr | async" class="error-message">
    {{  "global.mail_sent" |translate}}
  </p>
  <div class="d-flex justify-content-end gap-2">
    <button type="button" class="btn rounded-8 px-4 py-2 btn-light" translate="global.cancel"
      (click)="closeModal(modalID)"   [routerLink]="[login]"></button>
  </div>
</app-modal>  -->

<app-modal classList="modal-dialog-centered" [id]="modalID">
<img width="50" src="assets/images/icons/checked.png" alt="" class="mb-3" />
<p class="mt-3 fs-18 fw-500">
  {{ "global.mail_sent" | translate }}
</p>
<button type="button" data-bs-dismiss="modal" (click)="closeModal(modalID)" [routerLink]="[login]" class="btn d-block mis-auto btn-primary px-4 py-2">
  {{ "global.continue" | translate }}
</button>
</app-modal>
