<div class="card rounded-12 border-0 mt-2">
  <div class="card-body">
    <header class="d-flex gap-3 flex-wrap justify-content-between align-items-center">
      <div class="col-12 col-sm-4">
        <div class="input-group">
          <span class="input-group-text border-0 bg-transparent" id="search">
            <ion-icon name="search"></ion-icon>
          </span>
          <input [(ngModel)]="searchKey" type="text" class="form-control" [placeholder]="'global.search' | translate"
            aria-label="search" aria-describedby="search" />
        </div>
      </div>

      <div class="d-flex col-12 col-sm justify-content-between justify-content-sm-end gap-3">
        <button  class="btn rounded-m rounded-8 btn-primary d-flex gap-2 align-items-center" (click)="clear()"  type="button">
        
          {{ "global.clear"| translate }}
        </button>
        <div class="dropdown">
          <button  class="btn d-flex text-info gap-2 align-items-center rounded-m rounded-8 bg-info-o  dropdown-toggle"  type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            {{ "global.order_by" | translate }}
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li class="dropdown-item" (click)="english()">{{"global.ascending"| translate}}</li>
            <li class="dropdown-item" (click)="arabic()">{{"global.descending"| translate}}</li>
          </ul>
        </div>
        <div class="dropdown menue2">
          <button  class="btn rounded-m rounded-8 btn-primary d-flex gap-2 align-items-center  dropdown-toggle "  type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-sliders"></i>
            {{ "global.filtration" | translate }}
          </button>
          <ul class="dropdown-menu " aria-labelledby="dropdownMenuButton2">
            <li class="dropdown-item" (click)="filterActive()">{{"Rasd.active" |translate}}</li>
            <li class="dropdown-item" (click)="filterDeActive()" >{{"Rasd.DeActiveUser" |translate}}</li>
          </ul>
        </div>
      </div>
    </header>

    <hr />

    <div class="table-responsive">
      <table class="table table-striped table-borderless">
        <thead>
          <tr>
            <th scope="col" translate="global.name"></th>
            <th scope="col" translate="global.id_number"></th>
            <th scope="col" translate="global.contact_number"></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="
              let user of allUsers
              | filter: searchKey
              | paginate
                : {
                    itemsPerPage: pageSize,
                    currentPage: pageNumber,
                    totalItems: total,
                    id: 'users'
                  }
            ">
            <td class="td-photo">
              <div class="d-flex gap-3 align-items-center">
                <img [src]="user?.photo?.fullLink! | sanitizer" alt="logo" height="40" width="40"
                  class="d-block obj-cover obj-position-c rounded-8"
                  onerror="this.src='assets/images/icons/person.png'" />
                <div class="fw-500">
                  {{ user.firstName }} {{ user.lastName }}
                </div>
              </div>
            </td>
            <td>

              {{ user.idNumber}}
            </td>
            <td>
              {{ user.phoneNumber }}
            </td>

            <td>
              <div class="d-flex justify-content-end gap-4 align-items-center">
                <div class="d-flex gap-3">
                  <label *ngIf="user.isActive">
                    {{"Rasd.active" | translate}}
                  </label>
                  <label *ngIf="!user.isActive">
                    {{"Rasd.DeActiveUser" | translate}}
                  </label>
                  <p-inputSwitch [(ngModel)]="user.isActive" (onChange)="toggleState(user, $event)"></p-inputSwitch>
                </div>
                <div class="d-flex gap-2 justify-content-end">
                  <button type="button" class="btn rounded-8 bg-primary-hover text-white edit"
                    (click)="onEditMode(user)">
                    <i class="fa-solid fa-pen"></i>
                  </button>
                </div>
              </div>
            </td>
          </tr>
          <tr *ngIf="!allUsers?.length">
            <td colspan="7">
              <h6
                translate="global.no_data_to_show"
                class="fw-600 text-danger text-align-center"
              ></h6>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <hr />

    <div class="d-flex align-items-center justify-content-between gap-3">
      <div class="text-info d-flex gap-3 align-items-center">
        <label class="fw-500" translate="global.for_page"></label>
        <div>
          <select class="form-select" (change)="onPageSizeChange($event)">
            <option *ngFor="let size of sizes" [selected]="size == pageSize">
              {{ size }}
            </option>
          </select>
        </div>
      </div>

      <pagination-controls id="users" (pageChange)="onPageChange($event)" (pageBoundsCorrection)="onPageChange($event)"
        [maxSize]="3" [responsive]="true" [previousLabel]="''" [nextLabel]="''" screenReaderPaginationLabel="Pagination"
        screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
      </pagination-controls>
    </div>
  </div>
</div>


<app-offcanvas id="canvasID">
  <form [formGroup]="userForm" #form="ngForm" (ngSubmit)="update(userForm)"
    class="d-flex flex-column gap-3 h-100 p-1 overflow-visible">
    <div>
      <h3 translate="Rasd.Edit" class="text-align-center fw-bold"></h3>
      <div class="mt-4 bg-info-o d-flex text-info justify-content-between gap-3 align-items-center p-2 rounded-8">
        <label translate="users.current_status"></label>
        <p-inputSwitch formControlName="isActive"></p-inputSwitch>
      </div>
      <!-- -----------------------upload photo--------------------------------------- -->
      <div class="user-photo bg-info-o my-4 mx-auto text-info">
        <img *ngIf="profileImage" [src]="profileImage | sanitizer" alt="user_image" class="user_image"
          (click)="userPhoto.click()" />
        <div [hidden]="profileImage" class="p-3" (click)="userPhoto.click()">
          <img [src]="data" alt="" />
          <input required (change)="onImageUpload($event)" type="file" hidden #userPhoto />
        </div>
      </div>
      <div class="error-message mb-3 text-center" *ngIf="this.userForm.controls['photoId'].invalid && form.submitted">
        <ion-icon name="close-circle-outline" class="fs-5"></ion-icon>
        {{ "validation.photo_required" | translate }}
      </div>
      <!-- -------------------------------- name --------------------------------- -->
      <div class="d-flex gap-2">
        <div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" formControlName="firstName" />
            <label for="fName" translate="global.first_name"></label>
          </div>
          <div class="error-message" *ngIf="this.userForm.controls['firstName'].invalid && form.submitted">
            <ion-icon name="close-circle-outline" class="fs-5"></ion-icon>
            {{ "validation.first_name_is_required" | translate }}
          </div>
        </div>

        <div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" formControlName="middleName" />
            <label for="mName" translate="global.middle_name"></label>
          </div>
          <div class="error-message" *ngIf="this.userForm.controls['middleName'].invalid && form.submitted">
            <ion-icon name="close-circle-outline" class="fs-5"></ion-icon>
            {{ "validation.middle_name_is_required" | translate }}
          </div>
        </div>

        <div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="lanme" formControlName="lastName" />
            <label for="lName" translate="global.last_name"></label>
          </div>
          <div class="error-message mb-3" *ngIf="this.userForm.controls['lastName'].invalid && form.submitted">
            <ion-icon name="close-circle-outline" class="fs-5"></ion-icon>
            {{ "validation.last_name_is_required" | translate }}
          </div>
        </div>
      </div>


    </div>

    <!-- -------------------------------- phone -------------------------------- -->
    <div id="mobile1" class="form-floating mb-3">
      <div class="form-control d-flex">
        <input type="text" id="phone" class="form-control rounded-0 col p-0" formControlName="phoneNumber"/>
      </div>

      <label for="phone" translate="global.mobile_number"> </label>
    </div>
    <div id="mobile2" class="form-floating mb-3">
      <div class="form-control d-flex">
        <input type="text" id="phone" class="form-control rounded-0 col p-0" formControlName="phoneNumber2" />
      </div>

      <label for="phone" translate="global.mobile_number2"> </label>

    </div>

    <!-- -------------------------------------idNumber --------------------------------- -->
    <div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" formControlName="idNumber" />
        <label translate="global.id_number"></label>
      </div>

    </div>

    <!-- -------------------------------- email -------------------------------- -->
    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="email" placeholder="data" formControlName="email" />
      <label for="email" translate="global.email"></label>
      <div class="mb-3" *ngIf="this.userForm.controls['email'].invalid && form.submitted">
        <div class="error-message" *ngIf="this.userForm.controls['email'].errors?.['email'] && form.submitted">
          <ion-icon name="close-circle-outline" class="fs-5"></ion-icon>
          {{ "validation.email_is_not_valid" | translate }}
        </div>

        <div class="error-message" *ngIf="this.userForm.controls['email'].errors?.['required'] && form.submitted">
          <ion-icon name="close-circle-outline" class="fs-5"></ion-icon>
          {{ "validation.email_required" | translate }}
        </div>
      </div>
    </div>



    <!-- ------------------------------------buttons -------------------------------------  -->
    <div class="flex-grow-1 d-flex justify-content-end align-items-end gap-2 pb-3">
      <button type="button" class="btn px-4 rounded-8 btn-light bg-info-o" translate="global.cancel"
        data-bs-dismiss="offcanvas" (click)="form.resetForm()"></button>
      <button type="submit" class="btn px-4 rounded-8 btn-primary" translate="global.edit"></button>
    </div>

  </form>
</app-offcanvas>
